[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/entropax/Downloads]
row=5
col=0

[/home/entropax/mnt]
row=4
col=0

[e0c106f0-4864-43bf-b486-cb4a0aca88fc]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/entropax]
row=2
col=0

