[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/entropax/Downloads]
row=1
col=3

[/home/entropax/mnt]
row=2
col=3

[e0c106f0-4864-43bf-b486-cb4a0aca88fc]
row=0
col=4

[Trash]
row=1
col=4

[/]
row=2
col=4

[/home/entropax]
row=0
col=3

