[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/entropax/Telegram Desktop]
row=6
col=13

[/home/entropax/Downloads]
row=0
col=13

[/home/entropax/mnt]
row=2
col=13

[e0c106f0-4864-43bf-b486-cb4a0aca88fc]
row=1
col=13

[Trash]
row=4
col=13

[/]
row=3
col=13

[/home/entropax]
row=0
col=12

